body {
	font-family: "Open Sans", sans-serif;
	background-color: #200E0E;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	color: #e9e6ff; 
	margin-bottom: 2rem;
	font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

.galeria {
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-bottom: 2rem;
}

.item {
	display: flex; /* Permite que os itens fiquem lado a lado */
	margin: 4rem;
	margin-top: 0;
	padding: 2rem; /* Preenchimento interno */
	padding-left: 3rem;
	padding-right: 3em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: start;
}

.vinil-capa{
	display: flex;
	align-items: center;
}

.textos{
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: start;
	width: 100%;
}

.item h2 {
	color: #ffffff;
	font-size: 3rem;
	font-weight: normal;
	font-family: "Cinzel Decorative", serif;
	text-align: start;
	margin: 0;
}

.item h3{
	color: #ffffff;
	font-weight: 500;
	font-family: "Pinyon Script", cursive;
	text-align: start;
	margin: 0;
	margin-top: -42px;
	margin-bottom: 1rem;
}

a {
	text-decoration: none; 
	font-weight: normal;
}