body {
	font-family: "Open Sans", sans-serif;
	background-color: #36306f;
	background-size: contain;
	margin: 0;
	padding: 2rem;
	text-align: center;
}

.galeria h1 {
	color: #e9e6ff; 
	margin-bottom: 40px;
}

.foto-item {
	background-color: #ffffffed;
	border: 1px solid #7d76c0; /* Borda verde clara */
	border-radius: 8px;
	display: inline-block; /* Permite que os itens fiquem lado a lado */
	margin: 20px; /* Espaço entre os itens */
	padding: 15px; /* Preenchimento interno */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 12rem;
	vertical-align: top; /* Alinha no topo se as alturas forem diferentes */
}

.foto-item img {
	width: 100%; /* Imagem se ajusta à largura do contêiner */
	height: auto;
	border: 2px solid #b4adf4; /* Borda da imagem */
	border-radius: 5px;
	margin-bottom: 10px;
}

.foto-item p {
	color: #404040;
	font-size: 0.9em;
	margin-bottom: 10px;
}

.foto-item a {
	color: #388e3c; /* Link verde */
	text-decoration: none; /* Remove sublinhado */
	font-weight: bold;
}

.foto-item a:hover {
	text-decoration: underline; /* Sublinhado ao passar o mouse */
}
