body {
	font-family: "Open Sans", sans-serif;
	background-image: linear-gradient(120deg, #272159, #7b71d2); /*aplicando gradiente no fundo*/
	margin: 0;
	padding: 2rem;
	text-align: center;
}

.galeria h1 {
	color: #e9e6ff; 
	margin-bottom: 2rem;
}

.a-touchable{
	text-decoration: none; /* Remove sublinhado */
	font-weight: normal;
	color: #404040;
}
.a-touchable:visited{
	color: #404040;
}
.a-touchable:hover{
	text-decoration: none;
}

.foto-item {
	background-color: #f0e4ffed;
	border: 1px solid #7d76c0; /* Borda verde clara */
	border-radius: 8px;
	display: inline-block; /* Permite que os itens fiquem lado a lado */
	margin: 20px; /* Espaço entre os itens */
	padding: 15px; /* Preenchimento interno */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 12rem;
	vertical-align: top; /* Alinha no topo se as alturas forem diferentes */
}

.foto-item:hover{
	background-color: #ffffffed;
	width: 13rem;
	cursor: pointer;
	transition-delay: 0.1s;
	margin-top: -1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.316);
}

.foto-item img {
	width: 100%; /* Imagem se ajusta à largura do contêiner */
	height: auto;
	border: 2px solid #b4adf4; /* Borda da imagem */
	border-radius: 5px;
	margin-bottom: 10px;
}

.foto-item p {
	color: #404040;
	font-size: 0.9em;
	margin-bottom: 10px;
}

.a-link {
	color: #388e3c; /* Link verde */
	text-decoration: none; /* Remove sublinhado */
	font-weight: bold;
}
.a-link:visited{
	color: #388e3c;
}
.a-link:hover {
	text-decoration: underline; /* Sublinhado ao passar o mouse */
}
