/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #e905d6;
    background-image: url(https://preview.redd.it/wjlxbozxklq91.jpg?width=640&crop=smart&auto=webp&s=ffe1848437f9f5c07a77cf2edcd9d95ef6eab499);
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo para o contêiner principal da ficha */
.ficha-container {
    background-color: #ffffffbd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 30px;
    text-align: center;
}

/* Estilo para a imagem do personagem */
.personagem-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 3px solid #ff9900;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Estilos para os títulos */
.personagem-nome {
    color: #ff9900;
    font-size: 2.5em;
    margin: 10px 0 5px;
}

.personagem-titulo {
    color: #555;
    font-size: 1.2em;
    font-style: italic;
    margin: 0;
}

/* Estilo para a biografia */
.ficha-bio p {
    line-height: 1.6;
    color: #2c2c2c;
}

/* Estilo para a lista de habilidades */
.ficha-habilidades h3 {
    margin-top: 20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.ficha-habilidades ul {
    list-style: none;
    padding: 0;
}

.ficha-habilidades li {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}