body {
	font-family: "Open Sans", sans-serif;
	background-color: #200E0E;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	color: #e9e6ff; 
	margin-bottom: 2rem;
	font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

.galeria {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	padding: 0;
	padding-bottom: 2rem;
}

.galeria::-webkit-scrollbar {
  height: 8px; /* Altura da barra horizontal */
}

.galeria::-webkit-scrollbar-track {
  background: #3d3232; /* Cor do trilho */
  border-radius: 10px;
}

.galeria::-webkit-scrollbar-thumb {
  background: #888; /* Cor da alça */
  border-radius: 10px; /* Cantos arredondados */
}

.galeria::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da alça ao passar o mouse */
}

.item {
	background-image: linear-gradient(-12deg, #B68989, #3D0B0B);
	display: flex; /* Permite que os itens fiquem lado a lado */
	margin-inline: 4rem;
	padding: 1rem; /* Preenchimento interno */
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
}

.vinil-capa{
	display: flex;
	align-items: center;
}

.textos{
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-top: 3rem;
	align-items: start;
}

.item h2 {
	color: #ffffff;
	font-size: 3rem;
	font-weight: normal;
	font-family: "Cinzel Decorative", serif;
	text-align: start;
	margin: 0;
}

.item h3{
	color: #ffffff;
	font-weight: 500;
	font-family: "Pinyon Script", cursive;
	text-align: start;
	margin: 0;
	margin-top: -2rem;
	margin-bottom: 1rem;
}

/* .a-link {
	color: #1b1b1b; 
	text-decoration: none; 
	font-weight: normal;
}
.a-link:visited{
	color: #ffffff;
}
.a-link:hover {
	text-decoration: underline;
} */
