body {
    font-family: 'Verdana', sans-serif;
    background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/04/spy-x-family-anya-forger-pink-desktop-wallpaper-preview.jpg);
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.cartao-container {
    background-color: #ffffffd6; 
    width: 350px;
    text-align: center;
    /* Box Model */
    border: 6px inset #da2a8d; 
    padding: 2rem; /* Preenchimento interno */
    margin: 20px; 
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.236); /* Sombra mais sutil */
}

.nome-completo {
    color: #57034c; 
    font-size: 2em;
    margin-bottom: 10px;
}

.cargo {
    color: #720f4f;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.contato {
    color: #b31182; 
    font-size: 0.9em;
}